// px转换为rem
@function pxToRem($px, $base: 750px) {
    $min: 1 / $base * 10 * 1;
    $result: $px / $base * 10 * 1;

    @if $result < 0.027 and $result > 0 {
        @return 2px;
    }

    @else {
        @return $px / $base * 10 * 1rem;
    }
}

// 设置dpr下的字体大小
@mixin font-dpr($font-size, $line-height: $font-size) {
    font-size: $font-size / 2;

    @if $line-height != none {
        line-height: $line-height / 2;
    }

    [data-dpr="2"] & {
        font-size: $font-size;

        @if $line-height != none {
            line-height: $line-height;
        }
    }

    [data-dpr="3"] & {
        font-size: $font-size * 3 / 2;

        @if $line-height != none {
            line-height: $line-height * 3 / 2;
        }
    }
}

@font-face {
    font-family: 'PingFang Regular';
    src: url('../font/enroll/PingFang Regular.eot');
    src:
      url('../font/enroll/PingFang Regular.eot?#font-spider') format('embedded-opentype'),
      url('../font/enroll/PingFang Regular.woff') format('woff'),
      url('../font/enroll/PingFang Regular.ttf') format('truetype'),
      url('../font/enroll/PingFang Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }

.attention-container{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../images/attention/attentionBackground.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'PingFang Regular';

    .qcode-content{
        width: pxToRem(607px);
        height: pxToRem(626px);
        display: block;
        position: relative;
        .attention-img{
            position: absolute;
            width: pxToRem(607px);
            height: pxToRem(626px);
            top: 0;
            left: 0;
        }
        .attention-qcode{
            position: absolute;
            width: pxToRem(263px);
            height: pxToRem(264px);
            bottom: pxToRem(102px);
            left: pxToRem(170px);
        }
    }
}