html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 640px;
    min-height: 100%;
}

p,h3{
    margin: 0;
}

ul,li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img{
    border: none;
}

input,button,select,textarea{
    outline:none;
}

a{
    text-decoration: none;
}

.not-visible{
    visibility: hidden;
}

.not-display{
	display: none!important;
}

.clear{
	clear: both;
}

#rule,#cheerRule{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0;
    top: 0;
    left: 0;
    z-index: -1;
}

#cheer-guide{
    position: absolute;
    width: 100%;
    height: 100%;
    border: 0;
    top: 0;
    left: 0;
    z-index: -1;
}