// px转换为rem
@function pxToRem($px, $base: 750px) {
    $min: 1 / $base * 10 * 1;
    $result: $px / $base * 10 * 1;

    @if $result < 0.027 and $result > 0 {
        @return 2px;
    }

    @else {
        @return $px / $base * 10 * 1rem;
    }
}

// 设置dpr下的字体大小
@mixin font-dpr($font-size, $line-height: $font-size) {
    font-size: $font-size / 2;

    @if $line-height != none {
        line-height: $line-height / 2;
    }

    [data-dpr="2"] & {
        font-size: $font-size;

        @if $line-height != none {
            line-height: $line-height;
        }
    }

    [data-dpr="3"] & {
        font-size: $font-size * 3 / 2;

        @if $line-height != none {
            line-height: $line-height * 3 / 2;
        }
    }
}

@font-face {
    font-family: 'PingFang Regular';
    src: url('../font/enroll/PingFang Regular.eot');
    src:
      url('../font/enroll/PingFang Regular.eot?#font-spider') format('embedded-opentype'),
      url('../font/enroll/PingFang Regular.ttf') format('truetype'),
      url('../font/enroll/PingFang Regular.woff') format('woff'),
      url('../font/enroll/PingFang Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }

@keyframes ball
{
    from {
        transform: scale(1,1);
    }
    to {
        transform: scale(1.03,1.03);
    }
}

@keyframes enrollBelow
{
    from {
        transform: scale(1,1);
    }
    to {
        transform: scale(1.1,1.1);
    }
}

.index-progress{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #f3d548;

    .badge{
        width: pxToRem(187px);
        height: pxToRem(188px);
        display: block;
        margin: pxToRem(95px) auto pxToRem(80px);
    }

    .logo{
        width: pxToRem(708px);
        height: pxToRem(510px);
        display: block;
        margin: 0 auto;
    }

    .progress-bar{
        width: pxToRem(550px);
        height: pxToRem(16px);
        background-color: rgba(255, 255, 255, 0.5);
        margin: pxToRem(150px) auto pxToRem(45px);
        border-radius: pxToRem(16px);

        .progress{
            width: 0;
            height: pxToRem(16px);
            background-color: #6fdfff;
            border-radius: pxToRem(16px);
        }
    }

    .loading-progress{
        @include font-dpr(26px);
        color: #333333;
        text-align: center;
    }
}

.star-yell{
    width: 100%;
    height: 100%;
    position: fixed;

    .star-video{
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        z-index: 1;
    }

    .star-play{
        width: pxToRem(86px);
        height: pxToRem(85px);
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        z-index: 2;
    }

    .jump{
        width: pxToRem(160px);
        height: pxToRem(60px);
        display: block;
        top: pxToRem(35px);
        right: pxToRem(35px);
        position: absolute;
        z-index: 2;
    }
}

.index-container{
    width: 100%;
    background-image: url('../images/index/indexBackground.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'PingFang Regular';

    .header{
        width: 100%;
        color: #f6d448;

        .header-bg{
            width: 100%;
            display: block;
        }

        .rule{
            width: pxToRem(161px);
            position: absolute;
            top: pxToRem(65px);
            right: pxToRem(20px);
            z-index: 1;

            .rule-img{
                width: 100%;
                display: block;
            }
        }

        .action{
            position: absolute;
            z-index: 1;
            right: 0;
            left: 0;
            margin: 0 auto;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            width: pxToRem(294px);
            height: pxToRem(285px);
            top: pxToRem(890px);
            animation: ball .5s infinite alternate;
        }

        .enroll{
            background-image: url('../images/index/enroll2.png');
        }

        .upload{
            background-image: url('../images/index/upload.png');
        }

        .invitation{
            background-image: url('../images/index/invitation.png');
        }
    }

    .host{
        width: pxToRem(678px);
        height: pxToRem(505px);
        margin: pxToRem(50px) auto pxToRem(40px);
        background-image: url('../images/index/host.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    .small-site{
        width: pxToRem(750px);
        height: pxToRem(1050px);
        background: url(../images/index/learnBackground.png) 0 0 no-repeat;
        background-size: 100%;
        position: relative;
        font-family: 'PingFangSC-Regular','PingFang';
        overflow: hidden;
    
        .site-btn{
            width: pxToRem(172px);
            height: pxToRem(92px);
            background: url(../images/index/stationNormal.png) center center;
            background-size: 100%;
            position: absolute;
            @include font-dpr(28px,92px);
            text-align: center;
            color: #fff;
        }
        .site-btn1{
            top: pxToRem(288px);
            left: pxToRem(50px);
        }
        .site-btn2{
            top: pxToRem(275px);
            left: pxToRem(294px);
        }
        .site-btn3{
            top: pxToRem(288px);
            left: pxToRem(549px);
        }
        .site-btn.active{
            background: url(../images/index/stationActive.png) center center;
            background-size: 100%;
        }
        .swiper-container {
            width: 100%;
            height: 211px;
            margin-top: pxToRem(450px);
            padding-top: pxToRem(20px);
        }
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            background: url(../images/index/screen.png);
            background-size:100%; 
            width: 290px !important;
            position: relative;
        
            .video_pic{
                width: 250px;
                height: 142px;
                margin: 16px auto 10px;
                border-radius: 8px;
            }
            .learning{
                width: 52px;
                height: 52px;
                position: absolute;
                top:-10px;
                right: -10px;
                background: url(../images/index/learning.png);
                background-size: 100%;
            }
            .video_play{
                width: 43px;
                height: 42.5px;
                background: url(../images/index/play.png);
                background-size: 100%;
                position: absolute;
                top:59px;
                left: 50%;
                margin-left: -21.5px;
            }
            .title{
                @include font-dpr(34px);
                margin: -6px auto 0;
                font-weight: bold;
                font-family:'PingFangSC-Semibold','PingFang';
            }
            .intro{
                @include font-dpr(26px);
            }
        }
        .slide-lr{
            width: pxToRem(339px);
            height: pxToRem(49px);
            margin: pxToRem(10px) auto 0;
            background: url(../images/index/slideHint.png);
            background-size: 100%;
            transition: all 0.5s;
        }
    }

    .star-cheer{
        width: pxToRem(750px);
        height: pxToRem(1015px);
        margin: pxToRem(48px) auto pxToRem(70px);
        background-image: url('../images/index/starCheer.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: relative;
        .qcode{
            width: pxToRem(284px);
            height: pxToRem(284px);
            position: absolute;
            top:pxToRem(630px);
            left: pxToRem(420px);
            z-index: 5;
        }
        .qcodeBox{
            width: pxToRem(315px);
            height: pxToRem(318px);
            position: absolute;
            top:pxToRem(618px);
            left: pxToRem(407px);
            z-index: 4;
        }
        .watch{
            width: pxToRem(546px);
            height: pxToRem(361px);
            position: absolute;
            top:pxToRem(333px);
            left: pxToRem(60px);
            border-radius: pxToRem(25px);
            z-index: 3;
        }
    }

    .enroll-progress{
        width: pxToRem(750px);
        height: pxToRem(988px);
        margin: 0 auto pxToRem(60px);
        background-image: url('../images/index/enrollProgress.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
        position: relative;

        .enroll-below{
            width: pxToRem(130px);
            height: pxToRem(135px);
            background-image: url('../images/index/enrollBelow.png');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            display: block;
            position: absolute;
            top: pxToRem(390px);
            right: pxToRem(20px);
            animation: enrollBelow .5s infinite alternate;
        }
    }

    .footer{
        width: pxToRem(750px);
        height: pxToRem(191px);
        background-image: url('../images/index/copyRight.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
}